<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/index.css?v=0.04">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/basics.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/detail.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/index.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/common.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/member.css">
    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery-1.8.3.min.js"></script>
    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/default.js"></script>
    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery.raty.js"></script>
    <script src="{:CUSTOM_TEMPLATE_PATH}/public/plugin/countDown/countdown/jquery.countdown.js"></script>
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/plugin/countDown/countdown/jquery.countdown.css">
    <title>悬赏列表</title>
    <script>
        $(function(){
            $(".bought").click(function(){
                $(this).removeClass("off").addClass("on");
                $(".unbought").removeClass("on").addClass("off")
                $(".key_buy_yes").show();
                $(".key_buy_no").hide()
            })

            $(".unbought").click(function(){
                $(this).removeClass("off").addClass("on");
                $(".bought").removeClass("on").addClass("off")
                $(".key_buy_no").show();
                $(".key_buy_yes").hide()
            })

            var height = parseInt($(window).height()) - 300
            $(".nokey").height(height)

        })
    </script>
    <style>
        .wanted_detail_view img{
            width: 30px;
        }
        .wanted_detail_view p{
            height: 40px;
            line-height: 40px;
        }
        .wanted_detail_view .countdown{
            height: 45px;
            line-height: 45px;
        }
        .position{
            margin-top: 0;
            width: 1em;
            height: 1.5em;
            margin-right: 1px;
        }
        .digit.static{
            box-shadow: none;
        }
        .digit{
            height: 45px;
            line-height: 45px;
        }
        .countdownHolder{
            font: 30px 'Open Sans Condensed',sans-serif;
            letter-spacing:0;
            text-align: center;
            height: 45px;
            line-height: 45px;
            margin: 0;
        }
        .countDiv{
            width: 10px;
            height: 1.5em;
            box-shadow: none;
        }
        .key_list{
            width: 720px;
            background-color: #FFFFFF;
            z-index: 99;
            overflow-y: hidden;
            margin-bottom:140px;
            border-bottom: 2px solid #ccc;
        }
        .wanted_list_detail{
            height: 250px;
        }
    </style>
</head>
<body>
<div id="main_content">
    <div class="content_header">
        <div class="fl on tab_item unbought">
            <span class="fl tab_title">当前揭榜</span>
            <span class="fr num">共{$unBought.total|default=0}条</span>
        </div>
        <div class="fl off tab_item bought">
            <span class="fl tab_title">历史揭榜</span>
            <span class="fr num">共{$Bought.total|default=0}条</span>
        </div>
    </div>

    <!--发布线索详情-->
    <!--未被购买-->
    <div class="key_show_list key_buy_no">
        <if condition="$unBought['total'] eq 0">
            <div class="nokey" style="width:100%;height:500px;background: url('{:CUSTOM_TEMPLATE_PATH}/public/images/nojie.png') no-repeat center center">
            </div>
        <else />
            <div class="key_list">
            <volist name="unBought['rows']" id = "rows">
                <a href="{:U('/addon/Chengjiaojia/Wanted/keyWantedKeyList',array('id'=>$rows['id']))}" class=" block">
                    <div class="wanted_list_detail list">
                        <div class="fl wanted_img">
                            <img src="{:CUSTOM_TEMPLATE_PATH}/public/images/logo/bmw.jpg" >
                        </div>
                        <div class="fl wanted_detail">
                            <div class="wanted_detail_view">
                                <p class="bold brand">{$rows.brand}{$rows.series}</p>
                                <p style="height: 36px;line-height:36px">线索准确率：<span class="key_rate_{$rows.id} fr" style="margin-right: 70px"></span></p>
                                <script>
                                    $(".key_rate_"+{$rows.id}).raty({
                                        path:"{:CUSTOM_TEMPLATE_PATH}/public/images",
                                        readOnly:true,
                                        size:14,
                                        space:false,
                                        score:"{$rows['key_rate']}"
                                    })
                                </script>
                                <p>等级要求：<span>Lv.{$rows.level_limit}</span></p>
                                <p>购车城市：<span>{$rows.area}</span></p>
                                <p class="countdown">剩余时间：<span class="countdown_{$rows.id}"></span></p>
                                <script>
                                    var start_time ="{$rows.create_time}";
                                    var time = parseInt(parseInt({$rows.time_limit})*24*60*60*1000);
                                    start_time = start_time.replace(/-/g,"/")
                                    var ts = new Date(start_time),
                                            newYear = false;
                                    if((new Date()) > ts){
                                        // The new year is here! Count towards something else.
                                        // Notice the *1000 at the end - time must be in milliseconds
                                        ts = (new Date(start_time)).getTime() + time;
                                        newYear = false;
                                    }

                                    $('.countdown_'+{$rows.id}).countdown({
                                        timestamp	: ts,
                                        callback	: function(days, hours, minutes, seconds){

                                            var message = "";

                                            //message += days + " day" + ( days==1 ? '':'s' ) + ", ";
                                            message += hours + " hour" + ( hours==1 ? '':'s' ) + ", ";
                                            message += minutes + " minute" + ( minutes==1 ? '':'s' ) + " and ";
                                            message += seconds + " second" + ( seconds==1 ? '':'s' ) + " <br />";

                                            if(newYear){
                                                message += "left until the new year!";
                                            }
                                            else {
                                                message += "left to 10 days from now!";
                                            }

                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="fr wanted_operation">

                            <div class="operation">
                                <p class="bold"><span>{$rows.credit}</span></p>
                                <p >积分</p>
                            </div>

                        </div>
                    </div>
                </a>
            </volist>
        </div>
        </if>
    </div>

    <!--已被购买-->
    <div class="key_show_list key_buy_yes" style="display:none">
        <if condition="$Bought['total'] eq 0">
            <div class="nokey" style="width:100%;height:500px;background: url('{:CUSTOM_TEMPLATE_PATH}/public/images/nojie.png') no-repeat center center">
            </div>
        <else />
            <div class="key_list">
            <volist name="Bought['rows']" id = "rows">
                <a href="{:U('/addon/Chengjiaojia/Wanted/keyWantedKeyList',array('id'=>$rows['id']))}" class=" block">
                    <div class="wanted_list_detail list">
                        <div class="fl wanted_img">
                            <img src="{:CUSTOM_TEMPLATE_PATH}/public/images/logo/bmw.jpg" >
                        </div>
                        <div class="fl wanted_detail">
                            <div class="wanted_detail_view">
                                <p class="bold brand">{$rows.brand}{$rows.series}</p>
                                <p style="height: 36px;line-height:36px">线索准确率：<span class="key_rate_{$rows.id} fr" style="margin-right: 70px"></span></p>
                                <script>
                                    $(".key_rate_"+{$rows.id}).raty({
                                        path:"{:CUSTOM_TEMPLATE_PATH}/public/images",
                                        readOnly:true,
                                        size:14,
                                        space:false,
                                        score:"{$rows['key_rate']}"
                                    })
                                </script>
                                <p>等级要求：<span>Lv.{$rows.level_limit}</span></p>
                                <p>购车城市：<span>{$rows.area}</span></p>
                                <p class="countdown">剩余时间：<span class="countdown_{$rows.id}"></span></p>
                                <script>
                                    var start_time ="{$rows.create_time}";
                                    var time = parseInt({$rows.time_limit})*24*60*60*1000;
                                    start_time = start_time.replace(/-/g,"/")
                                    var ts = new Date(start_time),
                                            newYear = false;
                                    if((new Date()) > ts){
                                        // The new year is here! Count towards something else.
                                        // Notice the *1000 at the end - time must be in milliseconds
                                        ts = (new Date(start_time)).getTime() + time;
                                        newYear = false;
                                    }

                                    $('.countdown_'+{$rows.id}).countdown({
                                        timestamp	: ts,
                                        callback	: function(days, hours, minutes, seconds){

                                            var message = "";

                                            //message += days + " day" + ( days==1 ? '':'s' ) + ", ";
                                            message += hours + " hour" + ( hours==1 ? '':'s' ) + ", ";
                                            message += minutes + " minute" + ( minutes==1 ? '':'s' ) + " and ";
                                            message += seconds + " second" + ( seconds==1 ? '':'s' ) + " <br />";

                                            if(newYear){
                                                message += "left until the new year!";
                                            }
                                            else {
                                                message += "left to 10 days from now!";
                                            }

                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="fr wanted_operation">

                            <div class="operation">
                                <p class="bold"><span>{$rows.credit}</span></p>
                                <p >积分</p>
                            </div>

                        </div>
                    </div>
                </a>
            </volist>
        </div>
        </if>
    </div>

</div>
<include file="./Addons/Chengjiaojia/View/public/footer.html" />
</body>
</html>