<!--<div class="select_option">-->
<!--<div class="area_choose  choose">-->
<!--<div class="area_select_option select_area">-->
<!--<span class="icon fl"></span>-->
<!--<span class="text fl">地区选择</span>-->
<!--<span class="down fl"></span>-->
<!--</div>-->
<!--<ul class="area_options options" style="display: none">-->
<!--<volist name="area" id="rows" key="key">-->
<!--<li >-->
<!--<span>{$key}</span>-->
<!--<dl style="display: none">-->
<!--<volist name="rows" id="city">-->
<!--<dd >{$city}</dd>-->
<!--</volist>-->
<!--</dl>-->
<!--</li>-->
<!--</volist>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="car_choose choose ">-->
<!--<div class="car_select_option select_area">-->
<!--<span class="icon fl"></span>-->
<!--<span class="text fl">汽车筛选</span>-->
<!--<span class="down fl"></span>-->
<!--</div>-->
<!--<ul class="car_options options" style="display: none">-->
<!--<volist name="series" id="rows" key="key">-->
<!--<li <if condition="($brand eq $key)">class="chosen" style="off"</if>>-->
<!--<span>{$key}</span>-->
<!--<dl style="display: none">-->
<!--<volist name="rows" id="city">-->
<!--<dd >{$city}</dd>-->
<!--</volist>-->
<!--</dl>-->
<!--</li>-->
<!--</volist>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="order_choose choose">-->
<!--<div class="order_select_option select_area">-->
<!--<span class="icon fl"></span>-->
<!--<span class="text fl">智能排序</span>-->
<!--<span class="down fl"></span>-->
<!--</div>-->
<!--<dl class="order_options options" style="display: none">-->
<!--<dd class="chosen" id="use_rate">-->
<!--<span>有效率</span>-->
<!--</dd>-->
<!--<dd id="time"><span>时间优先</span></dd>-->
<!--<dd id="credit"><span>积分排序</span></dd>-->
<!--</dl>-->
<!--</div>-->
<!--</div>-->