<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery-1.8.3.min.js"></script>
    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/default.js"></script>
    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/choose.js"></script>
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/basics.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/select.css">
    <title>品牌选择</title>
    <script>
        $(function(){
            $("li").eq(0).addClass("chosen")
            $("li").eq(0).find("dl").show()

            var height = $("body").height()
            $("dl").css({"height":height,"overflow":"scroll"})
            $("ul").css({"height":height,"overflow":"scroll"})

            $(".options li").click(function (event) {
                $(this).addClass("chosen").find("dl").show()
                $(this).siblings().removeClass("chosen").find("dl").hide()
            });
            //选择汽车品牌和系列
            $(".options  dd").click(function (event) {
                var series = $(this).text()
                var brand = $(this).parent().siblings("span").text();
                sessionStorage.setItem("brand",brand)
                sessionStorage.setItem("series",series)
                history.go(-1)
            })
        })

    </script>


</head>
<body id="bg_img">
<div id="content">
    <ul class="options">
        <volist name="result" id="rows" key="key">
            <li>
                <span>{$key}</span>
                <dl style="display: none">
                    <volist name="rows" id="series">
                        <dd >{$series}</dd>
                    </volist>
                </dl>
            </li>
        </volist>
    </ul>
</div>
</body>
</html>