#bg_img{
    width: 720px;
    height: 1136px;
    /*height: 100%;*/
    background: url("../images/reg_bg.jpg");
    background-size: 100% 100%;
}
.reg{
    width: 508px;
    margin: 0 auto;
    position: absolute;
    top: 488px;
    left: 97px;
}

.signal{
    background :url("../images/01.png") no-repeat;
    background-size: 100% 100%;
}
.telephone{
    background: url("../images/02.png") no-repeat;
    background-size: 100% 100%;
}
.validate{
    background: url("../images/00.png") no-repeat;
    background-size: 100% 100%;
}
/*输入框*/
.input_area>input{
    height: 90px;
    text-align: left;
    font-size: 30px;
    border: none;
    display: block;
    float: left;
    width: 94%;
    margin-top: 2px;
    padding-left: 20px;
}

.input_area{
    width: 435px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 2px 0 2px 100px;
    height: 94px;
}
/*.input_area span{*/
    /*float: left;*/
    /*display: block;*/
    /*width: 29%;*/
    /*height: 79px;*/
    /*line-height: 79px;*/
    /*text-align: center;*/
    /*font-size: 30px;*/
    /*color: #FFFFFF;*/
    /*border-radius: 5px;*/
    /*overflow: hidden;*/
/*}*/
#verify_code{
    width: 260px;
}
.click_button{
    font-size: 30px;
    height: 95px;
    line-height: 95px;
    text-align: center;
    width: 145px;
    display: block;
    float: right;
    border-left:1px solid #cccccc ;
}
.btn_confirm{
    width: 603px;
    background-color: #ffb500;
    height: 91px;
    line-height: 91px;
    text-align: center;
    display: block;
    font-size: 35px;
    color: #FFFFFF;
    left: 60px;
}

/*注册图片上传页*/
.card_area{
    margin-top: 40px;
    border-top: 1px solid #dfdfdf;
    /*width: 630px;*/
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0 44px;
    margin-bottom: 20px;
}
.card{
    overflow: hidden;
    text-align: center;
    margin-top: 25px;
}
#card2{
    margin-left: 15px;
}
.card .card_image{
    width: 305px;
    height: 190px;
    border: 1px solid #cccccc;

    overflow: hidden;
}
.card p{
    margin-top: 30px;
}
.card .card_image>img{
    margin-top: 65px;
}

/*用户注册第三页*/
.reg-content{
    width: 100%;
    background-color: #ffffff;
    margin-top: 40px;
}
.reg-content li{
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid #CCCCCC;
}
.reg-content li span{
    height: 100%;
    line-height: 100px;
    padding-left: 35px;
    text-align: left;
    width: 230px;
    font-size: 30px!important;
    display: block;
    float: left;
}
.reg-content li input{
    float: left;
    border: none;
    height: 80px;
    line-height: 80px;
    margin-top: 10px;
    font-size: 30px;
    text-align: left;
    margin-right: 35px;
    width: 400px;
    padding: 0 10px;
}