<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/basics.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/common.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/member.css">
    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/jquery.message.css">

    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery.message.min.js"></script>

    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/default.js"></script>
    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/recharge.js"></script>
    <title>橙蕉豆 充值</title>
    <script type="text/javascript">
        var url = "{:U('/addon/Chengjiaojia/WxPay/wxPay')}"
        var preHref = "{$href}";
    </script>
</head>
<body>
    <div class="recharge-content">
        <span>
            金额（元）
        </span>
        <div class="money-input">
            <input type="tel" placeholder="请输入充值金额">
        </div>
    </div>
    <p class="recharge-desc">
        1元=1橙蕉豆
    </p>
    <div class="recharge-confirm">
        立即充值
    </div>
</body>
</html>