<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	    <title>线索详情</title>
	    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/basics.css"/>
	    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/key_detail.css"/>
	    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery-1.8.2.min.js"></script>
	    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/self.js"></script>
	    <script type= "text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/index.js?v=0.01"></script>
	</head>
	<body>
		<div class="key_content">
			<p>
				<span>品牌：宝马</span> <span>车系：3系</span> <span>时间：3个月以内</span> 
			</p>
			<p>
				<span>客户：朱云峰</span>
			</p>
			<p>
				<span>联系方式：18652362600</span> 
			</p>
			<p>
				<span>积分：10</span>
			</p>
		</div>
		<div class="key_desc">
			<p>描述详情</p>
			
			<div class="key_desc_content">
				线索详情描述,该客户想要购买宝马车型，购买欲望较强，希望在1个月内购车。
			</div>
		</div>
		<div class="detail_status">
			<span>当前状态</span>
			<span class="status">闲置</span>
		</div>

	</body>

</html>