<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	    <title>线索详情</title>
	    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/basics.css"/>
	    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/key_detail.css"/>
	    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery-1.8.2.min.js"></script>
	    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/self.js"></script>
	    <script type= "text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/index.js?v=0.01"></script>
		<style type="text/css"> body{font-size:12px;}</style>
	</head>
	<body>
		<div class="send_content">
			<div class="item">
				<span>品牌</span>
				<div class="select">
				<select id="brand" style="-webkit-appearance: none;">
					<option value="0">宝马</option>
					<option value="0">奔驰</option>
					<option value="0">奥迪</option>
					<option value="0">大众</option>
					<option value="0">兰博基尼</option>
				</select>
				</div>
			</div>
			<div class="item">
				<span>车型</span>
				<div class="select">
				<select id="brand" style="-webkit-appearance: none;">
					<option value="0">3系</option>
					<option value="0">5系</option>
					<option value="0">7系</option>
				</select>
				</div>
			</div>
			<div class="item">
				<span>悬赏期限</span>
				<div class="select">
					<select id="brand" style="-webkit-appearance: none;">
						<option value="0">一天</option>
						<option value="0">一周</option>
						<option value="0">两周</option>
						<option value="0">一月</option>
					</select>
				</div>
			</div>
			<div class="item">
				<span>信誉要求</span>
				<div class="select">
					<select id="brand" style="-webkit-appearance: none;">
						<option value="0">*</option>
						<option value="0">**</option>
						<option value="0">***</option>
						<option value="0">****</option>
						<option value="0">*****</option>
						<option value="0">******</option>
					</select>
				</div>
			</div>
			<div class="item">
				<span>等级要求</span>
				<div class="select">
					<select id="brand" style="-webkit-appearance: none;">
						<option value="0">高于小学</option>
						<option value="0">高于初中</option>
						<option value="0">高于高中</option>
						<option value="0">高于大学</option>
						<option value="0">无要求</option>
					</select>
				</div>
			</div>
			<div class="item">
				<span>悬赏积分</span>
				<div class="select">
					<select id="brand" style="-webkit-appearance: none;">
						<option value="0">10分</option>
						<option value="0">15分</option>
						<option value="0">20分</option>
						<option value="0">30分</option>
						<option value="0">40分</option>
					</select>
				</div>
			</div>
		</div>
		<div class="desc">
			<div class="desc_title">线索详情描述</div>

			<div>
				<textarea >您的线索发出后，并不会直接展现给对方，对方确认揭榜后，才会公开您的发出信息并且您将获得相应的揭榜积分。</textarea>
			</div>
		</div>
		<div class="send_button">
			<button>发布悬赏</button>
		</div>
	</body>

</html>