<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	    <title>首页</title>
	    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/basics.css"/>
	    <link rel="stylesheet" type="text/css" href="{:CUSTOM_TEMPLATE_PATH}/public/css/index.css"/>
	    <script src="{:CUSTOM_TEMPLATE_PATH}/public/js/jquery-1.8.2.min.js"></script>
	    <script type="text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/self.js"></script>
	    <script type= "text/javascript" src="{:CUSTOM_TEMPLATE_PATH}/public/js/index.js?v=0.01"></script>
	    
	    <style>
	    	.detail_left p{
	    	}
	    </style>
	</head>
	<body>
		<header>
			<div id="header">
				<div class="header_content1">
					<div class="avatar">
						<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/avatar.jpg" width="90px">
					</div>
				</div>
				<div class="header_content2">
					<p class="name">朱云峰</p>
					<p class="credit">
						信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png">
					</p>
				</div>
				<div class="header_content3">
					<p class="grade">
						等级：小学
					</p>
					<p class="points">
						积分：20
					</p>
				</div>
			</div>
		</header>
		<div class="content">
			<div class="keys_list">
				<div class="keys_detail">
					<div class="detail_left">
						<p>
							品牌：宝马		车系：3系</p>
						<p>
							购买时间：3月内
						</p>
						<p>
							卖家信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png" height="25px">
						</p>
						<p>
							等级要求：高于小学
						</p>
					</div>
					<div class="detail_right">
						<a href="{:U("detail")}">
							<span>
								<p>10积分</p>
								<p>揭榜</p>
							</span>
						</a>
					</div>
				</div>

				<div class="keys_detail">
					<div class="detail_left">
						<p>
							品牌：宝马		车系：3系</p>
						<p>
							购买时间：3月内
						</p>
						<p>
							卖家信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png" height="25px">
						</p>
						<p>
							等级要求：高于小学
						</p>
					</div>
					<div class="detail_right">
						<a href="{:U("detail")}">
							<span>
								<p>10积分</p>
								<p>揭榜</p>
							</span>
						</a>
					</div>
				</div>

				<div class="keys_detail">
					<div class="detail_left">
						<p>
							品牌：宝马		车系：3系</p>
						<p>
							购买时间：3月内
						</p>
						<p>
							卖家信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png" height="25px">
						</p>
						<p>
							等级要求：高于小学
						</p>
					</div>
					<div class="detail_right">
						<a href="{:U("detail")}">
							<span>
								<p>10积分</p>
								<p>揭榜</p>
							</span>
						</a>
					</div>
				</div>

				<div class="keys_detail">
					<div class="detail_left">
						<p>
							品牌：宝马		车系：3系</p>
						<p>
							购买时间：3月内
						</p>
						<p>
							卖家信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png" height="25px">
						</p>
						<p>
							等级要求：高于小学
						</p>
					</div>
					<div class="detail_right">
						<a href="{:U("detail")}">
							<span>
								<p>10积分</p>
								<p>揭榜</p>
							</span>
						</a>
					</div>
				</div>

				<div class="keys_detail">
					<div class="detail_left">
						<p>
							品牌：宝马		车系：3系</p>
						<p>
							购买时间：3月内
						</p>
						<p>
							卖家信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png" height="25px">
						</p>
						<p>
							等级要求：高于小学
						</p>
					</div>
					<div class="detail_right">
						<a href="{:U("detail")}">
							<span>
								<p>10积分</p>
								<p>揭榜</p>
							</span>
						</a>
					</div>
				</div>

				<div class="keys_detail">
					<div class="detail_left">
						<p>
							品牌：宝马		车系：3系</p>
						<p>
							购买时间：3月内
						</p>
						<p>
							卖家信用：<img src="{:CUSTOM_TEMPLATE_PATH}/public/images/xinyong.png" height="25px">
						</p>
						<p>
							等级要求：高于小学
						</p>
					</div>
					<div class="detail_right">
						<a href="{:U("detail")}">
							<span>
								<p>10积分</p>
								<p>揭榜</p>
							</span>
						</a>
					</div>
				</div>


			</div>
		</div>

		<footer>
			<div class="pagination">
				<div class="page1">1/10页</div>
				<div class="page2">首页 上一页 下一页 末页</div>
			</div>
		</footer>
	</body>

</html>