<{include file="header.html"}>
<script src="js/account.js?v=0.1"></script>
<link href="css/detail.css" rel="stylesheet">
<style>
    #card_pic{
        border: 5px solid #CCCCCC;
    }
    #keyInfo td{
        border:none!important;
    }
    #keyInfo table{
        border-bottom: 1px solid #CCCCCC;
    }
</style>
<script>
    $(function(){
        $("#Account").attr("aria-expanded",true).addClass("in");
        $("#Account").siblings("a").css("backgroundColor","#000");


        $("#checkMember").click(function(){
            var telephone = $("#telephone").val();
            if(telephone.length == 0){
                alert("请输入手机号！");
                return;
            }else{
                $.post(
                        "./account.php?action=checkMember",
                        {
                            telephone:telephone
                        },
                        function(data){
                            if(data == -1){
                                alert("请输入手机号")
                                return
                            }else if(data == -2){
                                alert("用户信息不存在")
                                return
                            }else{

                                var dataObj = eval("("+data+")");


                                $("#data-row").after(' ' +
                                        '<div class="form-group" >'+
                                '<label class="col-sm-2 control-label">用户昵称</label>'+
                                '       <div class="col-sm-8">'+
                                '       <h5>'+dataObj.nickname+'</h5>'+
                                '       </div>'+
                                '       </div>'+
                                '       <div class="form-group" >'+
                                '       <label class="col-sm-2 control-label">当前状态</label>'+
                                '       <div class="col-sm-8">'+
                                '       <h5>'+dataObj.status+'</h5>'+
                                '       </div>'+
                                '       </div>'+
                                '       <div class="form-group" >'+
                                '       <label  class="col-sm-2 control-label">用户真实姓名</label>'+
                                '       <div class="col-sm-8">'+
                                '       <h5>'+dataObj.realname+'</h5>'+
                                '       </div>'+

                                '       </div>'+
                                '        <div class="form-group">'+
                                '       <label class="col-sm-2 control-label">可用金额</label>'+
                                '       <div class="col-sm-8">'+
                                '       <h5>'+dataObj.use_account+'</h5>'+
                                '       </div>'+
                                '       </div>'+

                                '       <div class="form-group">'+
                                '       <label class="col-sm-2 control-label">冻结金额</label>'+
                                '       <div class="col-sm-8">'+
                                '       <h5>'+dataObj.frozen_account+'</h5>'+
                                '       </div>'+
                                '       </div>');
                            }
                        }


                )


            }

        })


    })

</script>
<body>
<div class="cover" style="width: 100%;height: 100%;opacity: 0.5;display: none;z-index: 100;position: absolute;background-color: #000"></div>

<div id="wrapper">
    <{include file="nav.html"}>
    <div id="page-wrapper">
        <div class="container-fluid" style="position: relative">
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="#">财务管理</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-table"></i> 平台充值
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="form-horizontal" role="form" >
                        <div class="form-group" id="data-row">
                            <label for="telephone" class="col-sm-2 control-label">用户手机号</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="telephone" placeholder="请输入用户手机号">
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-primary" id="checkMember">确定</button>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label class="col-sm-2 control-label">用户昵称</label>
                            <div class="col-sm-8">
                                <h5>紫焰</h5>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">当前状态</label>
                            <div class="col-sm-8">
                                <h5>正常状态</h5>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label  class="col-sm-2 control-label">用户真实姓名</label>
                            <div class="col-sm-8">
                                <h5>朱云峰</h5>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">可用金额</label>
                            <div class="col-sm-8">
                                <h5>1000.00</h5>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">冻结金额</label>
                            <div class="col-sm-8">
                                <h5>1000.00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->

    </div>

</div>
</body>

</html>
