
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">橙蕉</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>
                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <!--用户管理-->
                <li>
                    <a href="#" data-toggle="collapse" data-target="#Member"><i class="fa fa-fw fa-arrows-v"></i> 用户管理 <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="Member" class="collapse">
                        <li>
                            <a href="member.php?action=index">所有用户</a>
                        </li>
                         <li style="display: none;">
                             <a href="member.php?action=index&status=4">审核通过</a>
                         </li>
                        <li>
                            <a href="member.php?action=verify">待审核</a>
                        </li>
                        <li>
                            <a href="member.php?action=verified">近期审核</a>
                        </li>
                        <li>
                            <a href="member.php?action=editVerify">修改审核管理</a>
                        </li>
                    </ul>
                </li>
                <!--线索管理-->
                <li>
                    <a href="#" data-toggle="collapse" data-target="#Key"><i class="fa fa-fw fa-arrows-v"></i> 线索管理 <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="Key" class="collapse">
                        <li>
                            <a href="key.php?action=keyShow">线索详情</a>
                        </li>
                        <li>
                            <a href="key.php?action=keyList">线索列表</a>
                        </li>
                        <li>
                            <a href="key.php?action=shareOrder">晒单列表</a>
                        </li>
                    </ul>
                </li>
                <!--商城管理-->
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#Mall"><i class="fa fa-fw fa-arrows-v"></i> 商城管理 <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="Mall" class="collapse">
                        <li>
                            <a href="mall.php?action=list">商品兑换管理</a>
                        </li>
                        <li>
                            <a href="mall.php?action=commodity">商品管理</a>
                        </li>
                    </ul>
                </li>
                <!--财务管理-->
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#Account"><i class="fa fa-fw fa-arrows-v"></i> 财务管理 <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="Account" class="collapse">
                        <li>
                            <a href="./account.php?action=memberAccount">用户资金管理</a>
                        </li>
                        <li>
                            <a href="./account.php?action=accountList">资金详情</a>
                        </li>
                        <li>
                            <a href="./account.php?action=accountCashList">提现管理</a>
                        </li>
                        <li>
                            <a href="./account.php?action=recharge">平台充值</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-table"></i> 用户管理</a>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-fw fa-edit"></i> 品牌管理</a>
                </li>

                <li>
                    <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> 意见反馈</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

<!-- /#wrapper -->