.key-desc{
    padding: 10px 35px ;
}

.key-desc .title{
    border-bottom: 1px solid #CCCCCC;
    width: 30%;
}

.key-desc .content{
    padding: 10px 0;
}
.key-desc .content>div{
    font-size: 12px;
    color: #666666;
}

.panel .table td{
    padding: 8px 35px!important;
}